<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">UDMY</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/screen/udmyPanel">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/screen/addCourse">Add</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/screen/editCourse">Edit</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
<br><br>

  <div class="container">
    <h2>Edit Menu</h2>
    <hr style="width:20%" class="float-left">
    <br>
    <br><br>
    <!-- <form action="/screen/catagory" method="post">
        <h3>Edit Catagory</h3>
        
         <br>
         <br>
       
          <div class="input-group has-validation">
            <div class="input-group-prepend">
              <span class="input-group-text">Replace</span>
            </div>
            <input type="text" name="replace" class="form-control" required>
            <div class="invalid-feedback">
              New catagory Name ...
            </div>
          </div>
          <br>
      <button type="submit" class="btn btn-success">Edit Catagory</button>
  </form> -->
    <form action="/screen/course" enctype="multipart/form-data" method="post">
        <h3>Edit Course</h3>
        
        <br>
        <br>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Edit Course</label>
            </div>
            <select class="custom-select" name='course' id="inputGroupSelect01" required>
              <option selected>Select Course ...</option>
             <% courses.docs.forEach((course)=>{%>
                <option value="<%=course.id%>"><%=course.data().title%></option>
             <%}) %>
              
            </select>
            <br>

        </div>
          <div class="input-group has-validation">
            <div class="input-group-prepend">
              <span class="input-group-text">Course section Title</span>
            </div>
            <input type="text" name="sectionTitle" class="form-control" required>
            <div class="invalid-feedback">
              Add Course section title ...
            </div>
          </div>
          <br>

          <!-- <div class="input-group has-validation">
            <div class="input-group-prepend">
              <span class="input-group-text">Replace</span>
            </div>
            <input type="text" name="replace" class="form-control" required>
            <div class="invalid-feedback">
              Edit Course Name ...
            </div>
          </div> -->
          <br>
      <button type="submit" class="btn btn-success">Add section Title</button>
  </form>

  <br><br><br>
  <form action="/screen/courseSection" enctype="multipart/form-data" method="post">
    <h3>Get Course</h3>
    
    <br>
    <br>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Get Course</label>
        </div>
        <select class="custom-select" name='course' id="inputGroupSelect01" required>
          <option selected>Select Course ...</option>
         <% courses.docs.forEach((course)=>{%>
            <option value="<%=course.id%>"><%=course.data().title%></option>
         <%}) %>
          
        </select>
        <br>

    </div>
    <br>
    <button type="submit" class="btn btn-success">Add section Title</button>
</form>
  <br><br><br>
  <!-- image edit -->
  <form action="/screen/uploadImg" enctype="multipart/form-data" method="post">
    
    <h3>Add Image</h3><br>
 <div class="input-group">
    
    <div class="custom-file">
      <input type="file" class="custom-file-input" name='filename' id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
      <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
    </div>
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04">upload</button>
    </div>
 </div>
    
</form>
<br>    
  </div>