<div class="container">
    <br><br>
    <h3>Add Course</h3>
    <form action="/screen/Add_Course" method="post">
        <label for="">Course Title</label>
        <div class="form-group">
            <input type="text" class="form-control" name="title" placeholder='Enter Course Title'>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
    <br><br>
    <a href="/screen/GetCourses" class='btn btn-primary' type='button'>Back</a>
</div>