  <div class="container">

        <h2 class='text-dark'>Get Courses</h2><br>    
        <a href="/screen/Add_Course" type='button' class='btn btn-primary'>Add New Course</a>
        <br><br>       


       <div class="card w-80" >
        <ul class="list-group list-group-flush">
            <% courses.docs.forEach((course)=>{%>
            <li class="list-group-item"  style='background:rgb(244, 243, 243)'><%=course.data().title%>
                <span class="float-right">
               
                    <a href="/screen/Edit_Course/<%=course.id%>" type="button" class="btn btn-success">Edit</a>
                    
                    <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                      Delete
                    </a>
                    
                </span>
            </li>
            <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Course</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <span class='text-danger'> Are you completely sure you want to Delete this course? 
        Make sure to delete all the course lectures before continuing!</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a href="/screen/DeleteCourse/<%=course.id%>" type="button" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>
        <%})%>
        </ul>
        <!-- <div class="card-footer">
          Card footer
        </div> -->
      </div>

    <br><br>
    <a href="/screen/udmyPanel" class='btn btn-dark' type='button'>Back to Home</a>
</div>


