<div class="container">
    <h2>Manage Notifications</h2>

<br><br>
<form action="/screen/notification" method="post">
    <div class="form-group">
        <label  class='text-dark display-5'for="">Notification</label><br>
        <input type="text"class="form-control" name="text" placeholder="Send notificaiton" required>
    </div><br>
    <button type="submit" class="btn btn-success">Send</button>
</form>
<br>
<br>
<a href="/screen/udmyPanel" type="button
" class='btn btn-dark'>Back</a>
</div>
