<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="w-60" style="text-align: center;margin-top: 20%;margin:20% auto;">
        <h3 class="text-light" style="padding:10px;" >Welcome to the website</h3>
    <p style="padding:10px;" class="text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit.it mollitia sit tempora cupiditate.</p>
    <button style='margin:10px;' class="btn  btn-light bg-light text-dark" >login</button>
    <button class="btn  btn-dark text-light" >Register</button>
    </div>
</body>
</html>